.backdrop {
  width: 100vw;
  height: 100vh;
  z-index: 10;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.56);
}

.ModalContentStyle {
  width: 520px;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 8px;
  background: white;
}

.ModalContentStyle header {
  width: auto;
  height: auto;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #40005d;
  border-radius: 8px 8px 0 0;
  font-size: 1.6em;
}

.ModalContentStyle main {
  padding: 20px 14px;

  color: black;
  font-size: 1.4em;
}

.ModalContentStyle footer {
  padding: 0 12px 12px 12px;

  display: flex;
  flex-direction: row-reverse;
}

.close-button {
  background-color: #40005d;
}
