.button {
  border-radius: 50px;
  border: 0;

  font-size: 1.2em;
  cursor: pointer;

  opacity: 0.8;
}

.button:hover {
  opacity: 1;
}

.primary {
  background-color: rgb(127, 27, 166);
  color: white;
  outline: 2px solid white;
}

.secondary {
  background-color: rgb(235, 30, 200);
  color: white;
}
