.expense-list {
  /* width: 100%; */
  margin: 1rem 2rem;
}

.add-expense__box {
  width: 827.5px;
  height: 91.844px;
  padding: 8px;
  margin: 8px 0 32px 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(155, 106, 219);
  border-radius: 8px;
}

.toggle__box {
  height: 3em;

  background-color: #40005d;
}
