.container {
  width: 420px;
  margin-top: 24px;
  padding: 16px;

  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  color: black;
  font-size: 1.42em;
}

.form input {
  height: 28px;
  margin-top: 4px;
  padding: 2px;

  color: #111;
  font-size: 1.2em;
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0.26);
}

.form input:focus {
  outline: none;
  border-color: #111;
}

.age__label,
button {
  margin-top: 24px;
}
