.chart {
  height: 10em;
  padding: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  background-color: rgb(219, 219, 235);
  border-radius: 8px;
}
