.header {
  width: 100%;
  height: 52px;

  display: flex;
  justify-content: start;
  align-items: center;

  background-color: rgb(127, 27, 166);
}

.header label {
  height: inherit;
  margin-left: 5%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1.6em;
  font-weight: bold;
  color: white;
}

.header div {
  width: 80%;
  height: 100%;

  display: flex;
  justify-content: end;
  align-items: center;
}

.header div button {
  width: 6vw;
  height: 74%;

  margin-left: 2%;
}
