.expense-filter {
  padding: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h2 {
  height: 100%;
}

select {
  width: 5em;
  height: 1.4em;
  margin-right: 0.8em;

  background-color: aliceblue;
  border-radius: 8px;
  color: #111;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
